# Python bytecode & cache
__pycache__/
*.pyc
*.pyo

# Virtual Environments & Environment Files
venv/
.venv/
env/
.env

# Logs & Temporary Data
*.log
scratch/

# IDE / Editor files
.vscode/
.idea/

# OS metadata
.DS_Store
Thumbs.dbsubmission_marketplace.zip
